.not-found {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F6F7;
}

.not-found__icon {
  margin: 0 0 24px 0;
}

.not-found__title {
  font-family: 'Robotoslab', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #1A1B22;
 margin: 0 0 16px 0;
}

.not-found__subtitle {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #B6BCBF;
  max-width: 356px;
  margin: 0;
}