.about {
  min-height: 624px;
  display: grid;
  grid-template-columns: 464px fit-content(600px);
  column-gap: 56px;
}

.about__photo {
  height: 464px;
  width: 464px;
  border-radius: 50%;
  overflow: hidden;
  align-self: center;
}

.about__description {
  max-width: 600px;
  padding-top: 131px;
}

.about__title {
  font-family: 'Robotoslab', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin: 0 0 24px 0;
}

.about__paragraph {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

@media screen and (max-width: 890px) {
  .about {
    min-height: 354px;
    grid-template-columns: 232px fit-content(424px);
    column-gap: 32px;
  }
  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 16px 0;
  }
  .about__photo {
    height: 232px;
    width: 232px;
  }
  .about__description {
    max-width: 424px;
    padding-top: 40px;
  }
}


@media screen and (max-width: 600px) {
  .about {
    padding-top: 32px;
    padding-bottom: 80px;
    grid-template-columns: 288px;
    gap: 24px;
    justify-items: center;
    justify-content: center;
  }
  .about__photo {
    height: 272px;
    width: 272px;
    align-self: center;
  }
  .about__description {
    max-width: 288px;
    padding-top: 0;
  }
}