.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 80px;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.header_saved-news {
  box-shadow: inset 0px -1px 0px #D1D2D6;
  color: #1A1B22;
  background-color: #fff;
}

.logo {
  font-family: 'Robotoslab', Arial, Helvetica, sans-serif;;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
  margin-right: auto;
}

.logo_saved-news {
  color: #1A1B22;
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 890px) {
  .header {
    min-height: 66px;
  }
}

@media screen and (max-width: 675px) {
  .header {
    min-height: 56px;
  }
  .header_black {
    background-color: #000;
  }
  .header_white {
    background-color: #FFF;
  }
  .logo {
    font-size: 16px;
  }
  .header__container {
    min-width: 320px;
    max-width: 675px;
    width: 100%;
    background-color: #000;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 24px;
    position: absolute;
    left: 0;
    top: 56px;
  }
  .header__container_white {
    background-color: #fff;
  }
  .header__container_visible {
    display: flex;
  }
}